<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MIMO</title>

    <link rel="stylesheet" href="/styles/style.css">
</head>
<body bgcolor="#41444B">
    
    <!-- Header and Navbar Container -->
    <div class="header-navbar-container">
        <!-- header -->
        <%- include ("header.ejs") %>

        <!-- navbar -->
        <%- include ("navbar.ejs") %>
    </div>
    <div class="overlay" id="overlay"></div>
    <script src="/scripts/scripts.js"></script>
</body>
</html>