<nav class="navbar">
    <button class="navtoggle-button" id="toggle-button">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </button>
</nav>
<div class="sidebar" id="sidebar">
    <button class="navtoggle-button" id="close-button">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </button>
    <ul class="sidebar-items">
        <% if (typeof loggedIn !== 'undefined' && loggedIn) { %>
            <li><a href="/submit">投稿する</a></li>
            <li><a href="/history">投稿履歴</a></li>
            <li><a href="/searchform">作品検索</a></li>
            <li><a href="/logout">ログアウト</a></li>
            <li style="color: white;">こんにちは、 <%= username %> 様！</li>
        <% } else { %>
            <li><a href="/login">投稿する</a></li>
            <li><a href="/login">投稿履歴</a></li>
            <li><a href="/searchform">作品検索</a></li>
            <li><a href="/login">ログイン</a></li>
            <li><a href="/register">会員登録</a></li>
        <% } %>
    </ul>
</div>